.button {
  display: block;
  margin: auto;
}

.container-wrapper {
  /*border: 1px black solid;*/
  position: relative;
  padding-top: 90%;  // of width of containing element
}

.container {
  /* need some hacks since parent is 100% padding */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.image-content {
  /* Vertically and horizontally center + expand to fit parent */
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.text-content-wrapper {
  align-items: center;
  display: flex;
  font: 2vh open sans;
  height: 100%;
  text-align: center;
}
.text-content-wrapper > * {
  width: 100%;
}

.historical-quote {
  font: 2vh cursive;
  margin-bottom: 2vh;
}

.banner {
  width: 100%;
}

.main {
  margin: auto;
  max-width: 60vh;
}